<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <h3>Hello start count</h3>
    <img src="captain.jpg"/>
    <form action="/square">
        <input type="text" name="aa"/>
        <button>計算</button>
    </form>
    <div>Result is <%= ans %></div>
</body>
</html>